* {
    box-sizing: border-box;
    line-height: 1.2;
}


body { 
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    
    
}

img {
    height: auto;
    width: 300px;
}

/* index.html */
.content-main {
  text-align: center;
 
}

.ul-main {
    padding-left: 0px;
}


.a-main {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(77, 184, 255);
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 270px;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 4px;
}


.a-main:hover {
    background-color: rgb(26, 163, 255);
   
}

/* recipes.html */
.content-recipes {
    width: 50%;
    margin: 0 auto;
    font-size: 19px;    
}

.h1-recipes,
.h2-recipes,
.h3-recipes {
    margin-bottom: -10px;
    background-color: rgb(242, 242, 242);
}