
* {
    box-sizing: border-box;
    line-height: 1.2;
}

img {
    height: auto;
    width: 300px;
}

/* index.html */
.content-main {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  margin: 10% 30% 30% 30%;
  min-width: 400px;
}

.ul-main {
    padding-left: 0px;
    list-style-type: none;
}


.a-main {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(15, 120, 240);
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 280px;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 4px;
}


.a-main:hover {
    background-color: rgb(26, 163, 255);
    font-size: 21px;
    margin-bottom: 6px;
   
}

/* recipes.html */
.content-recipes {
    width: 50%;
    margin: 0 auto;
    font-size: 19px; 
    border: 1px solid black;  
    padding: 20px; 
    background-color: rgb(255, 255, 255)
}

.h1-recipes,
.h2-recipes,
.h3-recipes {
    margin-bottom: -10px;
    background-color: rgb(242, 242, 242);
}