* {
    box-sizing: border-box;
}


body { 
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    
    
}

img {
    height: auto;
    width: 40%;
}

/* index.html */
.content-main {
  text-align: center;
}

.ul-main {
    padding-left: 0px;
}


.a-main {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(50, 50, 250);
    color: white;
    font-size: 20px;
    width: 270px;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 4px;
}


.a-main:hover {
    background-color: black;
   
}

/* recipes.html */
.content-recipes {
    background-color: yellow;
    width: 90%;
    margin: 0 auto;
    
}

.ul-recipes {
    background-color: aqua;  
    /*list-style-position: inside;*/
}